includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - src
        - config
        - database
        - routes
    tmpDir: build/phpstan
    checkGenericClassInNonGenericObjectType: false